@import './components/MainPage/MainPage.css';
@import './components/Question/Question.css';
@import './components/LastPage/LastPage.css';

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic');
html {
  height: 100vh;
}

body {
  font-family: 'Caveat', cursive;
  background-image: linear-gradient(to bottom, rgb(184, 44, 44), rgb(184, 57, 46), rgb(185, 70, 47), rgb(185, 84, 49), rgb(186, 97, 50), rgb(186, 110, 52), rgb(187, 123, 53), rgb(187, 136, 55), rgb(188, 149, 56), rgb(188, 163, 58), rgb(189, 176, 59), rgb(189, 189, 61));
}